/*body*/
body{
  margin: 0;
  background-color: white
}
/*headers*/
/*main header*/
h1{
  text-align: center;
  color: red;
}
/*secondary header*/
h2 {
  color: purple
}
/*section title header*/
h3{
  color: navy
}
/*footer*/
footer{
  height:35px;
  padding:0 ;
}

/*links*/
a {
  font-family: Georgia, sans-serif;
  font-size: 20px;
}
/*link colors*/
a:link    { color: red;  }
a:visited { color: black;   }
a:hover   { color: cadetblue; }
a:active  { color: blue;  }
